APP_PORT=5181

DATABASE_URL=Host=localhost;Port=5432;Database=shift_management;Username=postgres;Password=postgres

Jwt__Key=your-secret-key
Jwt__Issuer=your-issuer
Jwt__Audience=your-audience
Jwt__ExpirationMinutes=120